---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import Footer from '../components/Footer.astro';
--- 

<Layout title="Monetize Your Telegram Channel" lang="en">
  <Navbar lang="en" />
  <main>
    <Hero lang="en" />
    <Features lang="en" />
    <HowItWorks lang="en" />
    <Pricing lang="en" />
  </main>
  <Footer lang="en" />
</Layout>
